<form
  class="example-form"
  [formGroup]="myForm"
  (ngSubmit)="submitData(myForm, $event)"
>
  <mat-dialog-content>
    <h2>Add Product Info</h2>
    <div class="row">
      <div class="col">
        <mat-label>Image</mat-label>
        <button (click)="fileInput.click()">
          <mat-icon fontIcon="library_add"> </mat-icon>
          <span>Select</span>
          <input
            #fileInput
            type="file"
            (change)="onFileInput($event)"
            style="display:none;"
          />
        </button>
      </div>

      <div class="col">
        <mat-label>Name</mat-label>
        <input
          type="text"
          class="form-control"
          matInput
          placeholder="Name"
          formControlName="name"
        />
      </div>

      <div class="col">
        <mat-label>Price</mat-label>
        <input
          type="number"
          class="form-control"
          matInput
          placeholder="price"
          formControlName="price"
        />
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn btn-default" mat-button mat-dialog-close type="reset">
      Cancel
    </button>
    <button class="btn btn-primary" mat-button type="submit">Submit</button>
  </mat-dialog-actions>
</form>
