<div class="row">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price Details</th>
          <th scope="col">Order Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of shoppingBagData">
          <tr>
            <td>{{ item.productName }}</td>
            <td>{{ item.quentity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
