<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <ul class="list-group">
      <li *ngFor="let item of menuItem" class="list-group-item">
        <div class="d-flex align-items-center">
          <mat-icon [fontIcon]="item.icon"> </mat-icon>
          <a class="ml-2 text-capitalize">{{ item.name }}</a>
        </div>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page-content">
      <mat-toolbar>
        <mat-toolbar-row>
          <div class="topbar d-flex flex-row-reverse">
            <button
              mat-raised-button
              class="btn btn-primary m-2"
              (click)="drawer.toggle()"
            >
              Toggle
            </button>
            <button
              mat-raised-button
              class="btn btn-primary m-2"
              (click)="openDialog()"
            >
              <div class="d-flex align-items-center">
                <mat-icon fontIcon="shopping_cart"> </mat-icon>
                <span>Buy Now</span>
              </div>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let item of commonService.productList">
            <div class="card col-4">
              <img class="card-img-top" src="..." alt="Card image cap" />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div></ng-container
          >
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
