<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <ul class="list-group">
      <li *ngFor="let item of menuItem" class="list-group-item">
        <div class="d-flex align-items-center">
          <mat-icon [fontIcon]="item.icon"> </mat-icon>
          <a class="ml-2 text-capitalize">{{ item.name }}</a>
        </div>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page-content">
      <mat-toolbar>
        <mat-toolbar-row>
          <div class="topbar d-flex flex-row-reverse">
            <button
              mat-raised-button
              class="btn btn-primary"
              (click)="drawer.toggle()"
            >
              Toggle
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
