<div class="row">
  <div class="card-columns">
    <ng-container *ngFor="let item of commonService.productList">
      <div class="card">
        <img class="card-img-top" class="img-thumbnail" [src]="item.image" />
        <div class="card-body">
          <div class="d-flex justify-content-center flex-column">
            <p class="card-text">
              {{ item.name }}
            </p>
            <span>Price: {{ item.price }}</span>
          </div>
        </div>
        <div class="card-footer">
          <quentity-input [productid]="item.id"></quentity-input>
        </div>
      </div>
    </ng-container>
  </div>
</div>
