<div class="row">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <button mat-raised-button class="btn btn-primary m-2" (click)="decrement()">
      -
    </button>
    <input
      #quentityInput
      type="number"
      class="form-control"
      matInput
      [(ngModel)]="quentity"
    />
    <button mat-raised-button class="btn btn-primary m-2" (click)="increment()">
      +
    </button>
  </div>
  <div class="col-12 d-flex justify-content-center align-items-center">
    <button mat-raised-button class="btn btn-primary m-2" (click)="addToCart()">
      Add To Cart
    </button>
  </div>
</div>
